*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color:#536878;
}

h1{
    height: 5rem;
    background-color: #081b31;
    color: #fff;
    text-align: center;
    line-height: 5rem;
}

.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 4rem;
}

.choice:hover{
    background-color: #081b31;
    cursor: pointer;
}
.choice{
    height: 165px;
    width: 165px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

img{
    height: 140px;
    width: 140px;
    object-fit: cover;
    border-radius: 50%;
}

.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    margin-top: 4rem;
    gap: 3rem;
}

#user-score, #comp-score{
    font-size: 5rem;
}

.msg-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

#msg{
    background-color: #081b31;
    color: #fff;
    font-size: 2rem;
    margin-top: 2rem;
    height: 2.5rem;
    padding: 1rem;
    border-radius: 2rem;
}